.card{
    width:300px;
    height:250px;
    border-radius: 10px;
    background-color: rgb(207, 202, 114);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header-section{
    padding: 0.5rem;
    height: 15%;
    border-radius: 10px 10px 0 0;
    background-color:rgb(40, 39, 103);
    color: white;
}
.content-section{
    padding: 1rem;
    font-size: 12px;
    height:70%;
    white-space: pre-wrap;
}
.footer-section{
    padding:0.5rem;
    height: 15%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;

    
}
.delete-icon{
    font-size:20px;
    color:black;
    cursor: pointer;
}
.delete-icon:active{
    color:rgb(40, 39, 103);
}